@import "tailwindcss";
@plugin "daisyui" {
  themes: night --default;
 }

@font-face {
  font-family: "montserrat";
  src: url("/assets/fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
}

@theme {
  --font-montserrat: "montserrat", sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}